body{
    margin: 0 auto;
    padding: 30px 30px;
}

#title {
    width: 500px;
    height: 100px;
    background-color: rgba(146, 98, 179, 0.5);
    box-sizing: border-box;
    border: 2px solid rgba(226, 7, 208, 0.5);
}

#body {
    width: 500px;
    height: 100px;
    background-color: rgba(146, 98, 179, 0.5);
    box-sizing: border-box;
    border: 2px solid rgba(226, 7, 208, 0.5);
}

#footer {
    width: 500px;
    height: 100px;
    background-color: rgba(146, 98, 179, 0.5);
    box-sizing: border-box;
    border: 2px solid rgba(226, 7, 208, 0.5);}


#data {
    width: 500px;
    height: 100px;
    background-color: rgba(146, 98, 179, 0.5);
    box-sizing: border-box;
    border: 2px solid rgba(226, 7, 208, 0.5);
}

div{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    line-height: 100px;

}